.webp .ilustracion{
    background:  url('../img/fondo.webp') no-repeat center/cover;
}
.no-webp .ilustracion{
    background: url('../img/fondo.jpg') no-repeat center/cover ;
}

.ilustracion{
    width: 100%;
    height: 25rem;
    box-shadow: .4rem 0 .5rem $azul-primario;
    
    @include tablet{
        width: 30%;
        height: inherit;
    }
}