.contenedor-card-resumen{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem , 1fr));
    max-width: 40rem;
    margin: 0 auto;
}

.card-resumen{
    margin: 0 auto 2rem auto;
    padding:1rem;
    border-radius: .5rem;
    box-shadow: 0 .2rem 1rem $azul-oscuro;
    background-color: $azul-claro;

    .resumen-titulo{
        margin: 1rem 0;
        padding: .5rem 0;
        text-align: center;
        color: $claro;
        text-transform: uppercase;
        background-color: $azul-oscuro;
    }

    .resumen-listado{
        li > p{
            font-weight: $bold;
            color: $azul-oscuro;
            font-size: .9rem;
            line-height: 2;

            span{
                border-bottom: .1rem solid $azul-oscuro;
                color: $azul-secundario;
            }
        }

        .precio-total{
            background-color: $amarillo;
            text-align: end;
        }
    }
        
    .resumen-acciones{
        margin-top: 1rem;
        @include tablet {
            display: flex;
        }
        & > button{
            margin: auto;
            color: $claro;
            text-shadow: 0 0 .2rem $azul-oscuro;
        }
        & > button:nth-child(even){
            margin-top: 1rem;
        }
        @include tablet{
           button:nth-child(even){
                margin-top: 0;
            }
        }

        .btn-agregar{
            background-color: $verde;
        }
        .btn-remover{
            background-color: $rojo;
        }
    }
}