//---------------------FUNTES
 $regular: 'Lato', sans-serif; //  300, 300 italic, 400,  700
 $cursiva: 'Lobster Two', cursive; //400, 400 italic, 700, 700 italic

$thin:300;
$normal:400;
$bold:700;
$italica: italic;

// ------------------RESOLUCIONES
$telefono:480px; // min->250 max->767
$tableta:768px; //min->768 max->979
$laptop:980px; //min->980 max->1199
$escritorio:1200px; //min->1200 

//--------------------COLORES
$claro:#e0d2d2;
$azul-primario:#516adb;
$azul-secundario:#120d52;
$azul-oscuro:#030439;
$azul-claro:#b6b4ca;
$amarillo:#e5ff00;
$rojo:#9b1717;
$verde:#1c941c;

